
.container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
     background-color: black;    
}

.image{
    width: 40px;
    height: 40px;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
}
