import React from 'react';
import ReactDOM from 'react-dom';
import Rectangle from 'react-rectangle';
var Rectangle = React.createClass({
    render: function() {
        return (
            <View style={styles.rectangle} />
        )
    }
});

rectangle : {
    width: 200 * 2,
    height: 100,
    backgroundColor: 'red'
}