.event-title{
    background-color: rgb(107, 145, 130);
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 460px;
    padding: 21px;
    position: relative;
    top: 50px;
    margin: auto;
}

.event-textblock1{
    background-color: rgb(219, 148, 101);
    flex: 0 0 140px;
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 0px 130px;
}

.event-textblock2{
    background-color: rgb(219, 148, 101);
    flex: 0 0 140px;
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 0px 130px;
}

.event-textblock3{
    background-color: rgb(219, 148, 101);
    flex: 0 0 140px;
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 0px 130px;
}

.event-flex-container1{
    display: flex;
    justify-content: center;
}

.event-flex-container1 > div {
    margin-top: 50px;
}

.event-flex-container2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.event-image{
    margin: 0px 40px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 380px;
    height: 270px;
    border-radius: 20px;
}